@charset "utf-8";

/* Box Sizing Reset */
html {
  box-sizing: border-box;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  /* arial, helvetiv and san-serif just in case */
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: 1fr 3.5rem / 1fr;
  grid-template-areas: 
      "main"
      "footer";
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to top,
    #FF5733,
    #FFC300
  );
}

main {
  grid-area: main;
  margin: auto;
  padding-top: 1rem;
}



/*** form section ***/
.form-container {
  max-width: 480px;
  padding: 2rem;
  box-shadow: 0 0 2rem 0 grey
            , 0.5rem 0.5rem 0.5rem 0rem black;
  background-color: white;
  border-radius: 15px;
}

.title {
  margin: 0;
  padding: 0;
  border-bottom: 3px solid darkblue;
  display: inline-flex;
  box-shadow: 0px 3px 6px -5px darkblue;
}

.title > h2 {
  color: darkblue;
  margin: 0.2rem 0;
  text-shadow: 0px 0px 3px gray;
}



/*** general ***/
fieldset {
  border: none;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 2.5rem;
}

legend {
  margin-left: 2rem;
  font-weight: bold;
  padding-right: 0.5rem;
  font-size: larger;
}



/*** account info, dev skills and experience sections ***/
.legend-circle {
  border-radius: 50%;
  padding: 0.5rem;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  color: white;
  margin: 0 0.5rem;
  font-size: small;
}

fieldset > label {
  margin-top: 0.65rem;
}

fieldset > .visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

fieldset > input {
  margin-top: 0.5rem;
}

fieldset > input {
  border: none;
  background-color:  #f2f2f2;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  color: grey;
  font-weight: bold;
}

fieldset > select {
  background-color:  #f2f2f2;
}

fieldset > input:focus, select:focus {
  outline: 3px solid #FFC300;
  background-color: white;
}

.horizontal-options {
  display: flex;
}

.horizontal-options > label {
  margin-right: 1rem;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.subsetions-title {
  font-weight: bold;
}

.experience-section {
  margin-top: 1rem;
}


/*** others section ***/
.hidden {
  display: none;
  flex-direction: column;
}

.hidden > label {
  margin-top: 0.65rem;
}

.hidden > input {
  border: none;
  background-color:  #f2f2f2;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  color: grey;
  font-weight: bold;
}

.hidden > input:focus {
  outline: 3px solid #FFC300;
  background-color: white;
}

textarea {
  background-color:  #f2f2f2;
}

textarea:focus {
  outline: 3px solid #FFC300;
  background-color: white;
}



/*** buttons section ***/
.buttons-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.bt-style {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.buttons-container > :nth-child(1) {
  margin-top: 1rem;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.buttons-container > :nth-child(2) {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #FF5733;
  font-weight: bold;
}



/*** footer ***/
footer {
  grid-area: footer;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

